/* Overall styling */

:root {
	--accent-color: darkorchid;
	--accent-hover: lightcoral;
}

body {
	background-color: lightgray;
}

/* Header styling */

header {
	padding: 20px;
	font-size: 110%;
}

.header-left {
	float: left;
	color: var(--accent-color);
}

.header-left a {
	text-decoration: none;
}

.header-right {
	float: right;
}

/* General screen styling */

main {
	width: 50%;
	margin: 60px auto;
}

.hidden {
	display: none;
}

.btn-purple {
	padding: 5px;
	background-color: var(--accent-color);
	color: white;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.2s;
}

.btn-purple:hover {
	background-color: var(--accent-hover);
}

/* Main screen styling */

#start-screen {
	text-align: center;
}

#start-screen h1 {
	font-size: 200%;
	margin-bottom: 20px;
}

#start-screen button {
	margin-top: 20px;
}

/* Question screen styling */

#question-screen h2 {
	font-size: 175%;
	margin-bottom: 20px;
}

#question-list li {
	width: fit-content;
	margin-bottom: 10px;
}

/* End screen styling */

#end-screen h2 {
	font-size: 175%;
	margin-bottom: 15px;
}

/* Question response styling (Wrong/Right, can appear in question and end screen) */

#question-response {
	margin-top: 15px;
	padding-top: 5px;
	border-top: 1px solid gray;
	font-style: italic;
}
